{% extends "base.html" %}
{% load custom_markdown %} # 新添加的代码

{% block content %}
<div class="posts">
    {% for post in posts %}
        <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="post-meta">
                时间:  <a class="post-author" href="#">{{ post.publish |date:"Y /m /d"}}</a>
                <a class="post-category post-category-js" href="{% url "blog:search_tag" tag=post.category %}">{{ post.category }}</a>
            </p>
        </header>
               <div class="post-description">
                    <p>
                        {{ post.body|custom_markdown }}
                    </p>
                </div>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
    {% include "pagination.html" with page=posts %}
{% endblock %}
